
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik:wght@300&display=swap');


#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
}
#hero-msg {
    background-color: #D3DAEE;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: #112A46;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    font-family: "Rubik", Verdana, sans-serif;
    font-size: 22px;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
}
h2 {
    margin: 0;
}
header {
    background-color: #FFFFFF;
}
nav a {
    color: #3B4C9D;
    text-decoration: none;
    text-align: center;
    padding: 35px;
}
nav a:hover {
    color: #748CCC;
}
.book, .join {
    background-color: #934439ee;
    color: #000000;/*#3B4C9D;*/
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    color: #748CCC;
}
#background {
    background-color: #934439;
}
.msg {
    line-height: 1.5em;
    background-color: #D3DAEE;
    padding: 35px;
}
footer {
    background-color: #D3DAEE;
    color: #000000;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title {
    font-family: "Permanent Marker", Arial, sans-serif;
    font-size: 2em;
    color: #3B4C9D;
    margin-top: 10px;
}
h4 {
    color: #3B4C9D;
}
.msg h2 {
    font-family: "Permanent Marker", Arial, sans-serif;
    color: #000000;
}
.msg p {
    font-size: 0.8em;
    color: #000000;
    padding-bottom: 15px;
}
footer a {
    color: #3B4C9D;
    text-decoration: none;
}
footer a:hover {
    color: #748CCC;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
.icon, .logo {
    width: 80px;
}
#hero-img {
    width: 100%;
}
#logo_link {
    padding-top: 5px;
}
.icon {
    padding-top: 10px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #934439;
}
main section img {
    box-sizing: border-box;
}