
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Raleway:ital,wght@1,500&family=Roboto&display=swap');

body {
    font-family: Roboto, Helvetica, serif;
    padding: 0;
    margin: 0;
    font-size: 22px;
}
#content {
    margin: 0 auto;
}
.background {
    background-color: #828489;
    width: 100%;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 2000px;
}
header img {
    margin: 20px;
    margin-left: 50px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-decoration: none;
    font-family: Raleway, Arial, sans-serif;
    color: black;
    padding: 35px;
    text-align: center;
}
nav a:hover {
    background-color: #9E90A2;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, Arial, sans-serif;
    color: #828489;
}
#text1 h1 {
    padding: 25px 0px 25px 200px;
}
#text1 h2 {
    padding: 200px 200px 5px 0px;
}
#text1 p, #text2 p {
    padding: 30px;
    max-width: 500px;
    margin: 40px auto;
    line-height: 35px;
    color: #043444;
}
b {
    font-family: Raleway, Arial, sans-serif;
}
#text2 {
    max-height: 500px;
    margin: auto;
}
#img1 img, #img2 img {
    display: block;
    width: 80%;
    margin: 40px auto;
    border: 10px solid #9E90A2;
    box-shadow: 5px 5px 10px darkgray;
}
#img1 {
    margin-top: 100px;
}
footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #828489;
    margin: 0 auto;
    margin-top: 200px;
    max-width: 2000px;
}
footer p, footer a {
    text-decoration: none;
    font-family: Raleway, Arial, sans-serif;
    color: black;
}
footer p {
    padding: 15px;
}
footer a {
    padding: 35px;
}
footer a:hover {
    background-color: #9E90A2;
}